.App {
  text-align: center;
  width:80%;
  max-width: 1200px;
  margin: 0px auto;
}

.App-logo {
  height: 200px;
  margin-bottom: 30px;
}

h2 {
  color: #C00000;
}

.link{
  border-radius: 100px;
  border: 7px solid #191919;
  display: inline-block;
  width: 220px;
  margin-right: -25px;
}

.RotoLogo {
  height: 100px;
  padding: 30px;
}

.link:not(:last-child) > .RotoLogo {
  animation: App-logo-spin infinite 0.5s linear;
}

body { 
  background-color: #191919;
  color: #191919;
}

.Background {
  scroll: hidden;
  width: 100%;
}

.App-header {
  background-color: #f0f0f0;
  min-height: 150px;
  padding: 20px;
}

.Metadata {
  padding: 20px 0;
  background-color: #fff;
}

.Benefits {
  text-align: center;
  font-size: large;
  background-color: #f0f0f0;
  padding: 20px 0;
}

.Benefits ul{
  display: inline-block;
  padding: 0;
}

.Benefits li:before {
  color: green;
  font-size: 24pt;
  content: "\2713";
  margin-right: 15px;
}

.Benefits li{
  list-style: none;
  text-align: left;
  margin: 5px;
}

.App-intro {
  font-size: large;
  min-height: 150px;
  padding: 20px;
}

.seeMore {
  background-color: #40749c;
  color: #f0f0f0;
  padding: 30px;
}

.copyright { 
  font-size: small;
  color: #c0c0c0;
  height: 150px;
  padding: 40px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
