.App {
  text-align: center;
  width:80%;
  max-width: 1200px;
  margin: 0px auto;
}

.App-logo {
  height: 160px;
}

.RotoLogo {
  height: 120px;
  animation: App-logo-spin infinite 20s linear;
  padding: 30px;
}

body { 
  background-color: #404040;
}

.Background {
  height: 130%;
  scroll: hidden;
  width: 100%;
}


.App-header {
  background-color: #f0f0f0;
  min-height: 150px;
  padding: 20px;
}

.Benefits {
  text-align: left;
  font-size: large;
  background-color: #fff;
  padding: 20px;
  padding-left: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.Benefits ul{
  text-align: left;
  width: 80%;
  margin: 0px auto;
  padding-top: 30px;
  padding-left: 0px;
}

.Benefits li:before {
  color: green;
  content: "\2713";
}

.Benefits li{
  list-style:none;
  text-align: left;
  margin: 0px auto;
  padding-top: 10px;
}

.App-intro {
  font-size: large;
  min-height: 150px;
  padding: 20px;
}

.seeMore {
  background-color: #a0a0a0;
  padding: 30px;
}

.copyright { 
  font-size: small;
  color: #c0c0c0;
  height: 150px;
  padding: 40px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
